
@{
    ViewData["Title"] = "WELCOME TO PHARMIX DMD CATALOG";
}
<style>
    .bg-list-ul > li {
        padding-bottom: 8px;
    }
</style>
<h2 class="box-title">WELCOME TO PHARMIX DMD CATALOG MANAGER</h2>
<hr/>
<div class="col-sm-12">
    <b>BENEFITS OF DMD SOLUTION</b>
    <hr />
    <ul style="list-style-type: square;" class="bg-list-ul">
        <li>NHSBSA Data from TRUD comes as XML with schema files</li>
        <li> Every healthcare IT companies who have subscribed for NHSBSA DMD data have to develop their own utilities to read them in a way they want</li>
        <li>DMD Extraction Tool available from TRUD extracts the contents but not in a format that every Healthcare company would want to see</li>
        <li>They have their data live in many of its customer’s site, whether trusts or other DMD catalogue based IT companies for mapping their local drug catalogue to match the Actual Medicinal Product/Pack</li>
        <li>Some companies just stop at using VTM without exploring benefits of VMPPs, AMPPs and GTINs or lack ability to link map correct routes or forms for their catalogue which can match an exact AMPPs</li>
        <li>This end up with a deviation of standards in managing the Product catalogues of various healthcare Applications to follow TRUD data to its full ability</li>
        <li>This forces healthcare companies to develop their own utilities achieve what they want with this zip file</li>
        <li>For instance, I had to do the same which actually extracts the zip file create the database schema, import all data from XML in to the database, then compare each table with our current DMD data that we hold which may be 2 month old, and come out with differences and push the changes to all our deployed instances which has been a painful maintenance overhead</li>
        <li>This also tend us to develop an Auditing system for hospital which means, if the name of a Licensed VTM changes this shouldn’t change any orders placed already, so overall that put so much development requirements on top</li>
        <li>So we decided to help simplify this process with a commercial solution Pharmix DMD</li>
    </ul>

</div>

