<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="UploadFiles" value="D:/Upwork/Files/UploadFiles/" />
    <add key="SourceFilePath" value="D:/Upwork/Files/SourceFile/" />
    <add key="ProcessFilesPath" value="D:/Upwork/Files/ProcessedFiles/" />
    <add key="LogFilePath" value="D:/Upwork/Files/Log.txt" />
    <add key="JobInterval" value="1" />
    <add key="connectionString" value="Server=DESKTOP-FVE0B6M\SQLEXPRESS;Database=PharmixDMDR3;User ID=sa;Password=123" />
    <add key="ApiBaseURI" value="http://localhost:49100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ZipFilePath" value="D:/Upwork/Pharmix.Web.R1/Pharmix.Web/Pharmix.Web/wwwroot/Download/" />
    <add key="RootFolder" value="D:/Upwork/Pharmix.Web.R1/Pharmix.Web/Pharmix.Web/wwwroot/Download/" />
    <add key="EmailSyncTime" value="18" />
    <add key="EmailSyncDay" value="Saturday" />
    <add key="applicationURl" value="https://localhost:44321/Download/DownloadFromMail?fileName=" />
    <add key="TemplatePath" value="D:/Templates/PharmixTemplate.htm" />
    <add key="PharmixChangesetTemplate" value="D:/Upwork/Files/PharmixChangesetTemplate.htm" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>