@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<link rel="stylesheet" type="text/css" href="/NewContent/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/NewContent/css/fontawesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/NewContent/css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="/NewContent/css/bootstrap-select.min.css" />
<link rel="stylesheet" type="text/css" href="/NewContent/css/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="/NewContent/css/style.min.css" />
<link class="skin" rel="stylesheet" type="text/css" href="/NewContent/css/skin/skin-1.css" />
<link rel="stylesheet" type="text/css" href="/NewContent/css/templete.css" />
<link rel="stylesheet" type="text/css" href="/NewContent/css/animations.css" />

<div class="col-md-5">

    <form method="post" class="p-a30 dez-form  text-center">
        <h3 class="form-title m-t0">Reset your password </h3>
        <div class="dez-separator-outer m-b5">
            <div class="dez-separator bg-primary style-liner"></div>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <input asp-for="UserId" type="hidden" />

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="site-button">Reset</button>
    </form>
</div>





@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
