@{
    ViewData["Title"] = "Payment Canceled";
}

<div class="form-horizontal">
    <div class="">
        <h2>Payment Canceled</h2>
    </div>
    <div id="divGrid">
        <div class="no-result">
            Your payment is cancelled
        </div>
    </div>
</div>