
@{
    ViewData["Title"] = "Pay Now";
}

<div class="form-horizontal">
    <div class="">
        <h2>Pay Now</h2>
    </div>
    <div id="divGrid">
        <div id="paypal-button"></div>
    </div>
</div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    var CREATE_PAYMENT_URL = '@ViewBag.URL_CreatePayment';
    var EXECUTE_PAYMENT_URL = '@ViewBag.URL_ExecutePayment';

    paypal.Button.render({
        env: 'sandbox', //'production',
        commit: true, // Show a 'Pay Now' button

        payment: function () {
            return paypal.request.post(CREATE_PAYMENT_URL).then(function (data) {
                return data.id;
            });
        },

        onAuthorize: function (data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID: data.payerID
            }).then(function () {
                window.location.href = '@ViewBag.URL_Success'
            });
        }

    }, '#paypal-button');
</script>