@{
    ViewData["Title"] = "Payment Successful";
}

<div class="form-horizontal">
    <div class="">
        <h2>Payment Successful</h2>
    </div>
    <div id="divGrid">
        <div class="no-result">
            Your payment is successful.
        </div>

        <h2><a href="/Subscription" class="btn btn-success">Subscription History</a></h2>
    </div>
</div>