<!-- Portfolio Modal 1 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h3 class="h3">Bespoke Software <span class="text-primary">Development</span></h3>
                    <div class="dez-separator bg-primary"></div>
                    <div class="clear"></div>
                    <div class="row m-t30">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <img class="img-fluid" src="/NewContent/images/circus.png" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-left">
                            <p class="m-b15">We have developers and experts both in UK and in India, developing solutions for small scale companies who are outsourcing their software development activities to us holding just senior architects and developers in UK proven to be a best approach in the cost model. We architect systems, design, deliver and support every product we complete until its really making money for our customers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h3 class="h3">MY DM&D <span class="text-primary">CATALOGS</span></h3>
                    <div class="dez-separator bg-primary"></div>
                    <div class="clear"></div>
                    <div class="row m-t30">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <img class="img-fluid" src="/NewContent/images/cabin.png" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-left">
                            <p class="m-b15">This application manages customised profile of every small SME's who decided to keep control of their Drug Catalogs using our service. We keep the catalog up to date for you and provide all the change notes with action notes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h3 class="h3">Pharmix <span class="text-primary">Schedulers</span></h3>
                    <div class="dez-separator bg-primary"></div>
                    <div class="clear"></div>
                    <div class="row m-t30">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <img class="img-fluid" src="/NewContent/images/cake.png" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-left">
                            <ul class="text-left m-l15">
                                <li>Integration Of Orders From Any Source Systems..</li>
                                <li>Allocation Of Orders To Any Isolators..</li>
                                <li>Allocation Of Isolators To Any Users..</li>
                                <li>Managing Isolators Availability..</li>
                                <li>Managing Used Products From Post Compounding.</li>
                                <li>Smart Environment Monitoring & Temperature Monitoring Of Used Products.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h3 class="h3">Pen/OWASP <span class="text-primary">Testing</span></h3>
                    <div class="dez-separator bg-primary"></div>
                    <div class="clear"></div>
                    <div class="row m-t30">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <img class="img-fluid" src="/NewContent/images/owasp.png" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-left">
                            <p class="m-b15 text-left">
                                Penetration testing and OWASP testing has become a key task to ensure every public facing websites can actually sustain attacks from dangerous cyber attacks. They can cause serious damage to the application data and break GDPR regulations in matter of seconds.
                            </p>
                            <p class="m-b15 text-left">
                                Even though there will be a back up of atleast 1hr in some hospitals, there are still 100s of hospitals rely on daily back ups which could damage the IT infrastructure even worse and even can cause death of a patient. OWASP guidelines in line with Penetration Testing will discover every loopholes and help organisations to prevent it well before the app goes into production environment.
                            </p>
                        </div>
                    </div>
                    <div class="row m-t30">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="m-b15" id="p-pen-calc" style="display:none">
                                <h6>Estimates as per 5 page with minimum functionality.<br /><small>This may vary based on the complexity of the page.</small></h6>
                                <table class="table table-bordered">
                                    <tr class="alert alert-info"><th>Deliverable Content</th><th>Estimate(mins)</th><th>Cost(£)</th></tr>
                                    <tr><td>Penetration Testing and source code analysis</td><td>20</td><th>2</th></tr>
                                    <tr><td>Owasp Top 10 vulnerabilities findings</td><td>20</td><th>2</th></tr>
                                    <tr><td>Cyptography</td><td>10</td><th>1</th></tr>
                                    <tr><td>Threat Modeling</td><td>10</td><th>1</th></tr>
                                    <tr><td>Vulnerability Analysis</td><td>10</td><th>1</th></tr>
                                    <tr><td>Exploitation</td><td>10</td><th>1</th></tr>
                                    <tr><td>Mitigations</td><td>10</td><th>1</th></tr>
                                    <tr><td>Identify Test Management</td><td>10</td><th>1</th></tr>

                                </table>
                                <div class="m-b15">Minimum cost 200£ applies to all size of projects.</div>
                            </div>

                            <a class="btn btn-primary btn-lg rounded-pill" href="#" id="btn-pen-calc">
                                <i class="fa fa-calculator"></i> Calculate Cost (Approximate)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-pen-calc").on("click", function () {
            var btnText = $("#btn-pen-calc").text();
            if (btnText.indexOf('Calc') >= 0) {
                $("#p-pen-calc").slideDown();
                $("#p-pen").slideUp();
                $("#btn-pen-calc").html("<i class='fa fa-arrow-left'></i> Back");
            }
            else {
                $("#p-pen").slideDown();
                $("#p-pen-calc").slideUp();
                $("#btn-pen-calc").html("<i class='fa fa-calculator'></i> Calculate Cost (Approximate)");
            }
        });

        // Modal popup$(function () {
        $('.portfolio-item').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#username',
            modal: true
        });

        $(document).on('click', '.portfolio-modal-dismiss', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
        });

    });
</script>
