<!doctype html>
<html>
<head>
    <title>Stacked Bar Chart</title>
    <script src="~/js/Chart/Chart.bundle.js"></script>
    <script src="~/js/Chart/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>
<body>
    <div style="width: 75%">
        <canvas id="canvas"></canvas>
    </div>
    <button id="randomizeData">Randomize Data</button>
    <script>

        
        var barChartData = {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Dataset 1',
				backgroundColor: 'red', //window.chartColors.red,
				data: [
					1,5,9,10
				]
			}, {
				label: 'Dataset 2',
				backgroundColor: 'blue', //window.chartColors.blue,
				data: [
					2,1,6,9
				]
			}, {
				label: 'Dataset 3',
				backgroundColor: 'green', //window.chartColors.green,
				data: [
					5,7,3,5
				]
			}]
		};
        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');

            var callback = function (response) {

                console.log(response.OrderReportData);

                window.myBar = new Chart(ctx, {
                    type: 'bar',
                    data: response.OrderReportData,
                    options: {
                        title: {
                            display: true,
                            text: 'Isolator order'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                stacked: true,
                            }],
                            yAxes: [{
                                stacked: true
                            }]
                        }
                    }
                });

                Framework.Spinner.Stop();
            }

            Framework.Spinner.Start();
            Framework.Utility.ExecuteAjaxRequest("/Report/GetReportData", {}, callback);



			
		};

		document.getElementById('randomizeData').addEventListener('click', function() {
			barChartData.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});
			});
			window.myBar.update();
		});</script>
</body>
</html>
