@model SearchViewModel

<div class="sidebar-form input-group">
    <input asp-for="SearchText" class="form-control" placeholder="Search.." />
    <span class="input-group-btn">
        <button type="button" id="linkSearch" class="btn btn-flat">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>