<div id="faq" class="section-full bg-white content-inner wow fadeInUp">
    <div class="container">
        <div class="section-head text-center ">
            <h3 class="h3 text-uppercase">FAQ<span class="text-primary">'s</span></h3>
            <div class="dez-separator bg-primary"></div>
            <div class="clear"></div>
        </div>
        <div class="section-content text-left">
            <div class="row">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <h4><b>Lorem ipsum dolor sit amet?</b></h4>
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus. cons ectetur elit. Vestibulum nec odios Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec.
                    </p>
                </div>
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h4><b>Lorem ipsum dolor sit amet?</b></h4>
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus. cons ectetur elit. Vestibulum nec odios Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec.
                    </p>
                </div>
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
                    <h4><b>Lorem ipsum dolor sit amet?</b></h4>
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus. cons ectetur elit. Vestibulum nec odios Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec.
                    </p>
                </div>
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <h4><b>Lorem ipsum dolor sit amet?</b></h4>
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus. cons ectetur elit. Vestibulum nec odios Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>