
<div class="row">
    <div class="col-sm-4">
        <a class="card" asp-action="Index" asp-controller="Production" title="Click to enter">
            <span class="fa fa-laptop fa-3x text-primary"></span>&nbsp;
            Start isolator production
            <div class="card-body">
                <h4><b>Isolator Produciton</b></h4>
                <p>Start/stop isolator, order productions</p>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a class="card" asp-action="SupervisorRequestTracking" asp-controller="Production" title="Click to enter">
            <span class="fa fa-bell fa-3x text-warning"></span>&nbsp;
            Manage my requests
            <div class="card-body">
                <h4><b>My requests</b></h4>
                <p>Track and respond request</p>
            </div>
        </a>
    </div>
</div>