<div id="about" class="section-full bg-white content-inner wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-head">
                <div class="text-center">
                <h3 class="h3 "> About <span class="text-primary">PHARMIX</span></h3>
                    <div class="dez-separator bg-primary"></div>
                </div>
                <div class="clear"></div>
                <ul type="square">
                    <li class="m-b0">
                        PHARMIX TECHNOLOGIES LTD founded on January, 2018 with the focus of implementing innovations in to small manufacturing units mainly started with Isolators but extended to be a generic solution for any manufacturing process.
                    </li>
                    <li class="m-b0">
                        With over 7 years of experience in Software Architecture and Development in Health care Industry, we developed more modern applications with highly scalable and secure features saving time and money by utilizing resources efficiently.
                    </li>
                    <li class="m-b0">
                        We are very specialized with ChemoTherapy Aseptic Compounding process for CIVAs and TPN products manufacturing.
                    </li>
                    <li class="m-b0">
                        In order to support our drive in Chemotherapy product, we also developed a customized solution for managing DM&D catalog of Medicines within every organization.
                    </li>
                    <li class="m-b0">
                        We developed cost effective solutions for small Health care companies who can save maintenance overhead with their Drug Catalog to be up to date with DM&D. We do the hard work of getting your DM&D catalog up to date.
                    </li>
      <li class="m-b0">
          We have Pharmacists and Clinical safety experts who are best in the Industry, working closer with us and make sure we lend ourselves to growing regulations including GDPR
                    </li>      
                    <li class="m-b0">
                        We are Integration experts, having integrations from Multiple sources including HL7 feeds, Web APIs, WCF Services, Raw XML Files, CSV Files, Excel files, SQL/MongoDB/MySQL databases etc to feed orders for the compounding units to be scheduled.
                    </li>   
                    <li class="m-b0">
                        We have excellent Scheduling engine custom made, allowing scheduling of Orders from multiple sources to any of the Isolators, scheduling of any users to Isolators, allowing to keep track of everything around the unit for Audit/CQC purposes
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>