<div id="solutions" class="section-full content-inner bg-white wow fadeInUp" style="padding-bottom:0;">
    <div class="container">
        <div class="section-head text-center ">
            <h3 class="h3 text-uppercase">Our <span class="text-primary">Solutions</span></h3>
            <div class="dez-separator bg-primary"></div>
            <div class="clear"></div>
        </div>
        <div class="section-content text-left">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 m-b30">
                        <div class="col-md-12 m-b30">
                                <div class="dez-box wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="dez-media">
                                        <a class="dez-media dez-img-overlay4 btn-block">
                                            <img src="/NewContent/images/cabin.png" alt="">
                                        </a>
                                    </div>
                                    
                                        <h4 class="dez-title m-t0 m-b0"><a>DM&D</a></h4>

                                        <p class="m-b15">This application manages customised profile of every small SME's who decided to keep control of their Drug Catalogs using our service. We keep the catalog up to date for you and provide all the change notes with action notes.</p>
                                        
                                        <p class="m-b15">Manage your version of DMD copy</p>
                                        <p class="m-b15">Every updates from DMD will create a difference set against your DMD copy</p>
                                        <p class="m-b15">You can move up and down  on versions, so you can get accurate differences in a spreadsheet</p>
                                        <p class="m-b15">Exported spreadsheets and SQL scripts will contain records to be added, updated or to delete for every table of DMD catalogue</p>
                                        <p class="m-b15">Setup automatic email notification on what change to be implemented based on your last changeset for weekly releases from TRUD</p>
                                     
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 m-b30">
                            <div class="dez-box wow fadeInUp" data-wow-delay="0.6s">
                                <div class="dez-media">
                                    <a class="dez-media dez-img-overlay4 btn-block">
                                        <img src="/NewContent/images/cake.png" alt="">
                                    </a>
                                </div>
                                <div class="fixed-height dez-info p-a10 border-1">
                                    <h4 class="dez-title m-t0 m-b0"><a>Aseptics</a></h4>

                                    <ul class="text-left m-l15">
                                        <li> <b>Integrated Order Processing</b> - Can integrate orders from various systems like Varian, JAC, Medcura or any systems which can feed data as HL7, XML or flat files</li>
                                        <li><b>Manage Staffs</b> in the production unit and their access roles, groups or integrate with internal Active Directory</li>
                                        <li><b>Manage Shifts</b> for staffs and Isolators</li>
                                        <li><b>Manage Isolators</b> used in the site, service reminders, temperature monitoring and full audit of clean room procedures</li>
                                        <li><b>Schedule Orders and Patient Treatment</b> using an intuitive drag and drop allocation to staff and Isolator</li>
                                        <li><b>Manage reminders</b> to notify on planned events to all recipients</li>
                                        <li><b>Manage guidelines/ procedures</b> during every stage of Isolator tasks</li>
                                        <li><b> Full audit trail</b> of every action from the user logs in to logging out</li>
                                        <li><b>Collaborative Communication tool</b> for request authorisation between supervisor and isolator users on measurements/permissions</li>
                                        <li><b>Analytics on stock usage</b>, cost saving by re-used vials prioritization, efficiency of isolators monthly or yearly, report wastages</li>
                                        <li><b>Products Tracking</b> of all made products from isolator to administering patients</li>
                                        <li><b>Drug waste Monitoring</b> of any un administered drugs</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 m-b30">
                            <div class="dez-box wow fadeInUp" data-wow-delay="0.2s">
                                <div class="dez-media">
                                    <a class="dez-media dez-img-overlay4 btn-block">
                                        <img src="/NewContent/images/circus.png" alt="">
                                    </a>
                                </div>
                                <div class="fixed-height dez-info p-a10 border-1">
                                    <h4 class="dez-title m-t0 m-b0"><a>Bespoke Software Development</a></h4>
                                    <p class="m-b15">We have developers and experts both in UK and in India, developing solutions for small scale companies who are outsourcing their software development activities to us holding just senior architects and developers in UK proven to be a best approach in the cost model. We architect systems, design, deliver and support every product we complete until its really making money for our customers.</p>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3 m-b30">
                            <div href="#portfolio-modal-4" class="portfolio-item dez-box wow fadeInUp" data-wow-delay="0.8s">
                                <div class="dez-media">
                                    <a class="dez-media dez-img-overlay4 btn-block">
                                        <img src="/NewContent/images/owasp.png" alt="">
                                    </a>
                                </div>
                                <div class="fixed-height dez-info p-a10 border-1">
                                    <h4 class="dez-title m-t0 m-b0"><a>PEN/OWASP Testing</a></h4>
                                    <p class="m-b15">
                                        Penetration testing and OWASP testing has become a key task to ensure every public facing websites can actually sustain attacks from dangerous cyber attacks. They can cause serious damage to the application data and break GDPR regulations in matter of seconds.
                                    </p>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>

                <div class="hidden">
                    <img src="/NewContent/images/docbg.png">
                </div>
            </div>
        </div>
    </div>
</div>