@{
    ViewData["Title"] = "Payment Canceled";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/NewContent/images/main-slider/slide01.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 class="text-white">Payment Canceled</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="login-form">
        <div class="tab-content">
            <div id="login" class="tab-pane active text-center m-t100 m-b100">
                Your payment is cancelled
            </div>
        </div>
    </div>
</div>  