<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="UploadFiles" value="F:/My App/Upwork/XML to SQL import and ASP.net MVC project/UploadFiles/" />
    <add key="SourceFilePath" value="F:/My App/Upwork/XML to SQL import and ASP.net MVC project/SourceFile/" />
    <add key="ProcessFilesPath" value="F:/My App/Upwork/XML to SQL import and ASP.net MVC project/ProcessedFiles/" />
    <add key="LogFilePath" value="F:/Log.txt" />
    <add key="JobInterval" value="1" />
    <add key="JobFTPInterval" value="1" />
    <add key="FTPSyncTime" value="19" />
    <add key="connectionString" value="Server=DESKTOP-RHS162A;Database=DmdFinal;User ID=sa;Password=123" />
    <add key="ApiBaseURI" value="http://localhost:49156" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ftp" value="ftp://ftp.isd.digital.nhs.uk/NHSBSA/" />
    <add key="ftpuserName" value="M-36854@trud.nhs.uk" />
    <add key="ftpPassword" value="Mail-Bar-Dog-Plug" />
    <add key="ftpFolder" value="/NHSBSA_DMD/" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>